/*making changes to look of entire website*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

/*setting colors that will be used frequently*/
:root {
  --bg-color: darkslateblue;
  --second-bg-color: lightslategray;
  --text-color: black;
  --main-color: darkorchid;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%; /*using rem for when user changes to perferred text size (accessibility); 4rem is 4 x root font size (default: 16px)*/
  /*used for the bg effect*/
  background: rgba(71, 61, 139, 0.3);
  backdrop-filter: blur(10px);
  /*putting space btwn the elements*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /*set to a high num to make sure stays at top*/
}

#menuIcon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  /*to show the user that the logo is clickable*/
  cursor: pointer;
}
