/*making changes to look of entire website*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "DM Serif Display", serif;
}

/*setting colors that will be used frequently*/
:root {
  --bg-color: white;
  --second-bg-color: ghostwhite;
  --text-color: black;
  --main-color: mediumpurple;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/*HEADER ELEMENT*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%; /*using rem for when user changes to perferred text size (accessibility); 4rem is 4 x root font size (default: 16px)*/
  /*used for the bg effect*/
  background: rgba(245, 245, 245, 0.3);
  backdrop-filter: blur(10px);
  /*putting space btwn the elements*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /*set to a high num to make sure stays at top*/
}

#menuIcon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  /*changes the boldness of the text*/
  font-weight: 800;
  /*to show the user that the logo is clickable*/
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/*when hover over logo it will appear slightly bigger*/
.logo:hover {
  transform: scale(1.1);
}

/*createing gradient effect for span*/
span {
  /* 270deg: basically means grad goes from left to right
    1st color: ending color
    2nd color: starting color
  */
  background: linear-gradient(270deg, steelblue 10%, var(--main-color) 100%);
  /*clip text to the background*/
  background-clip: text;
  /*make it invis to see through text*/
  color: transparent;
}

.navBar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3 ease-in-out;
  /*creating an underline effect*/
  border-bottom: 3px solid transparent;
}

.navBar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.gradientButton {
  font-size: 1.8rem;
  padding: 1rem /*top/bottom*/ 2rem /*left/right*/;
  border-radius: 4rem;
  background: linear-gradient(270deg, steelblue 10%, var(--main-color) 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--text-color);
  border: none;
  /*nowrap: needed when viewport gets smaller letters/words wont wrap to next line*/
  text-wrap: nowrap;
}

.gradientButton:hover {
  transform: scale(1.1);
}

/*ALL SECTIONS*/
section {
  /*make section cover entire page*/
  min-height: 100vh;
  padding: 10rem 15%;
}

/*HOME SECTION*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.homeInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.homeInfo h1 {
  font-size: 6rem;
  font-weight: 700;
  margin-top: 1.5rem;
  /*controls vertical space btwn lines of text*/
  line-height: 1;
}

.homeInfo h3 {
  font-size: 3rem;
  margin: 1rem 0;
}

.homeInfo p {
  padding: 2rem;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.8;
}

.homePic img {
  width: 32vw; /*img will be 32% of viewport width; helps with responsiveness*/
  border-radius: 60% 40%;
  /*to create a glowing effect when hovering over img*/
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.homePic img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

/*all buttons will look like this*/
.buttons {
  display: flex;
  gap: 1.5rem;
}
.btn {
  display: inline-block; /*allow elements to be next to each other while still having block space*/
  padding: 1rem 3rem;
  background-color: var(--main-color);
  border-radius: 3rem;
  box-shadow: 0 0 25px var(--main-color);
  font-size: 1.8rem;
  color: var(--text-color);
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

/*SKILLS SECTION*/
.skillHeading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}

.skills {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.skills h2 {
  color: var(--text-color);
}

.skillSection {
  display: grid;
  /*instead of hardcoding a number of columns*/
  /*minimax: sets smallest size of card*/
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /*1 fraction of space*/
  align-items: center;
  gap: 2.5rem;
}

.skillCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  height: 600px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}
.skillCard:hover {
  background: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.skillInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.skillInfo h4 {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 800;
}

.skillInfo p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}

.skillInfo i {
  font-size: 8rem;
}

/*PROJECTS SECTION*/
.projects {
  background-color: var(--second-bg-color);
}

.projectSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}

.projectHeading h2 {
  font-size: 6rem;
  margin-bottom: 3rem;
  color: var(--text-color);
}

.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.02);
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color);
}

.projectCard img {
  max-width: 300px;
  border-radius: 2rem;
  object-fit: cover;
}

.projectCard h3 {
  font-size: 3rem;
}

.projectCard p {
  font-size: 1.6rem;
}

/*CONTACT SECTION*/
.contact {
  background-color: var(--bg-color);
}

.contact h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

/*changing both types of input*/
.contact form .inputBox input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  /*don't want text area to be resizable*/
  resize: none;
}

/*styling the footer*/
.footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}

.footer .socialIcons {
  text-align: center;
}

/*CHANGING THE SCROLLBAR*/

/*the entire scrollbar*/
::-webkit-scrollbar {
  width: 20px;
}

/*the draggable scrolling handle*/
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/*the progress bar of the scrollbar*/
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

/*breakpoint for where website will change based on screen size*/
@media (max-width: 1024px) {
  #menuIcon {
    display: block;
  }
  .navBar {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(245, 245, 245, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }
  .navBar a {
    display: block;
    font-size: 2rem;
    margin: 3rem;
    color: var(--text-color);
  }
  .navBar.active {
    display: block;
  }

  .gradientButton {
    display: none;
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }

  .homeInfo {
    align-items: center;
    text-align: center;
  }

  .homePic img {
    width: 56vw;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .about img {
    width: 56vw;
  }

  /*nothing has to change with Skills and Projects because they already respond to size of screen*/

  .contact form {
    flex-direction: column;
  }
}
